@media (max-width: 768px) {
  h1 {
    font-size: 1rem;
    letter-spacing: 0.2rem;
  }

  .input-container input {
    flex-basis: 100%;
  }

  section .citacao .citacao-container {
    text-align: justify;
  }

  section .input {
    width: 100%;
  }

  section .button {
    padding: 0.6rem 1.1rem;
    font-size: 0.9rem;
  }

  .resultados-pesquisa {
    width: 90%;
    height: 80%;
  }

  .item-resultado h2 {
    font-size: 1.2rem;
  }

  footer {
    font-size: 0.9rem;
  }
}

@media (max-width: 600px) {
  .citacao .citacao-container {
    font-size: 1.2rem;
    text-align: justify;
  }
}

@media (max-width: 480px) {
  .citacao .citacao-container{
    font-size: 0.8rem;
    text-align: center;
  }
  .input-container input {
    flex-basis: 100%;
  }

  section .pesquisa {
    width: 17rem;
  }

  section .button {
    padding: 0.6rem 1rem;
    font-size: 0.9rem;
  }

  .resultados-pesquisa {
    width: 90%;
    height: 80%;
  }

  .item-resultado h2 {
    font-size: 1.1rem;
  }

  footer {
    font-size: 0.8rem;
  }
}
