body {
  font-family: "Chakra Petch", sans-serif;
  background-color: #01001f;
}

.mensagem-erro {
  text-align: center;
  font-size: 1.5rem;
  color: #f8f3f3;
}

.cabecalho {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 800px;
  padding: 15px 4%;
  margin: 0 auto;
}

.citacao {
  display: flex;
  justify-content: center;
  width: 90%;
  border-radius: 0.6rem;
  background: #27272a;
  padding: 1.25;
  margin-bottom: 1.56rem;
}
.citacao .citacao-container blockquote {
  font-family: Georgia, serif;
  font-size: 1.2rem;
  border-left: 4px solid #c58402;
  padding-left: 1rem;
  margin: 20px 10px;
  color: #fff;
}
.citacao .citacao-container .palavra {
  color: #f0a504;
}
.citacao .citacao-container .apostrofe {
  font-size: 2.5rem;
  color: #f0a504;
  font-style: italic;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  line-height: 0.7;
}
.citacao .citacao-container .italico {
  font-style: italic;
}

.pesquisa {
  display: flex;
  align-items: center;
  width: 100%;
}

.input-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.input-container input {
  width: 100%;
  padding: 1rem 4rem 1rem 1rem;
  border: none;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  font-size: 1rem;
  box-sizing: border-box;
  position: relative;
}

.floating-label {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #aaa;
  transition: 0.3s ease all;
  pointer-events: none;
}

.input-container input:focus + .floating-label,
.input-container input:hover + .floating-label,
.input-container input:not(:placeholder-shown) ~ .floating-label {
  top: 0;
  transform: translateY(-100%);
  font-size: 0.8rem;
  color: #fff;
}

.input-container button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border: none;
  background-color: #c58702;
  color: #ffffff;
  padding: 0 1.5rem;
  font-size: 1rem;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container button:hover {
  background-color: #f0a504;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.spinner {
  display: none;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #c58702;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.resultados-pesquisa {
  width: 90%;
  height: 80%;
  overflow-y: auto;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 0.6rem;
  margin-bottom: 5rem;
  scroll-behavior: smooth;
}

.item-resultado {
  background: #27272a;
  border-radius: 0.6rem;
  border: 0.1rem, solid, #c58702;

  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.item-resultado.show {
  opacity: 1;
  transform: translateY(0);
}

.item-resultado:nth-child(2) {
  transition-delay: 0.2s;
}

.item-resultado:nth-child(3) {
  transition-delay: 0.2s;
}

.item-resultado h2 {
  font-size: 1.5rem;
  color: #ffffff;
}

.item-resultado a {
  text-decoration: none;
  color: #ffffff;
  transition: transform 0.3s ease, color 0.3s ease;
}

.item-resultado a:hover {
  transform: scale(1.05);
  color: #f0a504;
}

.item-resultado:active {
  box-shadow: 0 0 10px rgba(240, 165, 4, 0.8);
  transform: scale(0.98);
}

.descricao-meta,
.data-nascimento-falecimento,
.nacionalidade {
  color: #ffffff;
  margin: 0.5rem 0.5rem;
}

.item-resultado p {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.item-resultado.expand p {
  max-height: 100px;
  overflow-y: auto;
}

mark {
  background-color: yellow;
  animation: highlight 0.5s ease;
}

@keyframes highlight {
  from {
    background-color: transparent;
  }
  to {
    background-color: yellow;
  }
}

.rodape {
  display: flex;
  justify-content: center;
  background-color: #c58702;
  color: #02013b;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  width: 100%;
  position: fixed;
  bottom: 0;
  font-size: 0.8rem;
}
